html, body {
  font-family: $serif;
  height: 100%;
  line-height: pxtorem($default-line-height);
}

a {
  text-decoration: none;
}

li.node-readmore a:after {
  @include icomoon('caret-right');
  font-size: 50%;
  vertical-align: 1px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
  margin: 0 0 5px;
}


section.content {
  padding-top: 2em;
}

.html-container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 80vw;
}

@media only screen and (min-width: 1024) {
  .html-container {
    max-width: 80vw;
  }
}
